# Dependencies
node_modules/


# OS Files
.DS_Store
Thumbs.db

# Environment Variables
.env
.env.local
.env.*.local
!.env.example

# IDEs
.vscode/
.idea/

# Build outputs
dist/
build/
.output
*.log

# LLMs
CLAUDE.md
