@layer components {
	.dashboard-layout-sidebar-tab {
		position: absolute;
		top: 12rem;
		left: var(--left-rail-width);
		width: 2rem;
		height: 84px;
		background-color: var(--color-warm-200);
		border-top: 1px solid var(--color-border);
		border-right: 1px solid var(--color-border);
		border-bottom: 1px solid var(--color-border);
		border-left: 0;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
		box-shadow: var(--shadow-md);
	}
}
