# Server Config
GLAZE_PORT=4000

# Database
GLAZE_DATABASE_URL=postgresql://postgres:PASSWORD!@postgres:5432/postgres

# Auth
GLAZE_AUTH_SECRET=akdi2adnasdajsdnasdnasd2nasdasdsad

# Postgres Container Config
POSTGRES_DB=glaze
POSTGRES_USER=glaze
POSTGRES_PASSWORD=glaze
POSTGRES_PORT=5432